/fifo/
/static/
/__pycache__/
/c_client/migrations/
/c_client/static/nogit/
/c_server/__pycache__/
/c_client/__pycache__/
/ffmpeg/
/build/
/icons/
/.vs/
/dist/
*.py~
*.md~
*.bat~
*.example~
*.html~
*.css~
*.js~
.gitignore~
/c_server/passwords.py

