@charset "UTF-8";

body { background: black;
}

body, h1, h2 , table, th, tr, td{
  color: #FFF;
  font-family: "helvetica neue", helvetica, "lucinda sans unicode", sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin: 7px;
  padding: 0;
}

.imageline {
	text-align: left;
}

header {
  background: #D1E0E1;
  color: #333;
  height: 80px;
}

footer {
  background: #D1E0E1;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  margin-top: 30px;
  text-align: center;
}

header h1 {
  font-size: 20px;
  font-weight: bold;
  line-height: 80px;
  text-align: center;
}

td {
	vertical-align: top;
  border: 0px solid grey;
  border-collapse: separate;
  padding: 3px;
}

td.noline {
  border: none;
}
input {
  border: 1px solid #AAA;
  border-radius: 3px;
  height: 24px;
  padding: 0 7px;
}
input[type='checkbox'] {
  height: 12px;
 }

select {
  border: 1px solid #AAA;
  margin-right: 15px;
  width: 200px;
  padding: 0 7px;
}

.fettgross {
	font-weight: bold;
	font-size: 20px;
}

.images {
  padding: 5px;
	width: 90px;
}

.images120 {
  padding: 5px;
	width: 120px;
}

.fett {
	font-weight: bold;
}

.hideoverflow {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  border: solid #DCDFE3 1px
}

.hideoverflow select {
  padding: 4px;
  margin: -5px -20px -5px -5px;
}

.buttons {
	margin: 15px 0 10px 0;
	background: #53777A;
	border: 1px solid #5B5B5B;
	color: #FFF;
	font-size: 13px;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	width: 30px;
}

.buttonslarge {
	margin: 15px 0 10px 0;
	background: #53777A;
	border: 1px solid #5B5B5B;
	color: #FFF;
	font-size: 13px;
	padding: 5px 10px;
	text-align: center;
}

.pointer {
	cursor: pointer;
}

.imagebox {
	text-align: left;
}

.eventinput {
	text-align: left;
}

.blue {
	background: #53777A;
	color: #000;
}

