{% extends 'main/basis.html' %}
{% block content %}
{% if debug %}
{% load static %}
	<link rel="stylesheet" href="{% static 'git/c_client/c_client.css' %}">
{% else %}
	<link rel="stylesheet" href="https://static.cam-ai.de/c_client/c_client.css">
{% endif %}
<div class="h1">CAM-AI Event List</div>
<div class="h1">
  School: {{ c_school.name }} / {{ c_school.id }}</div>
<div class="h1">Number of Events: {{ events|length }}</div>
{% for item in events %}
  <div id="div{{ item.id }}">
  <h1><br>
  {{ item.id }} -{{ item.p_string }}<br>
  {{ item.start|date:'d.m.Y H:i:s' }} - {{ item.end|date:'d.m.Y H:i:s' }}
  {% if may_write %}
  <input type="button" class="btn btn-primary mb-2" data-id={{ item.id }} value="Delete event"></input>
  {% endif %}<br>
  <a href="{{ recordingsurl }}{{ item.videoclip }}.mp4" target="_blank">
  <img src="{{ recordingsurl }}{{ item.videoclip }}.jpg" width="800"><br>
  <h2>Click here to check the video</h2></a>
  </h1>
  <table iline="{{ item.id }}">
  <tr>
		<td itext="{{ item.id }}"><h2 class="pointer">Click here to check the slides from movement detection</h2></td>
  </tr>
  </table>
  </div>
{% endfor %}
<script>

let ScDBUtilSocket;

{% if may_write %}
$('[value="Delete event"]').click(function(evt) {
  if (!confirm('Are you sure?')) return false;
  mynumber = $(evt.target).data().id;
  $('#div'+mynumber).remove();
  ScDBUtilSocket.sendandwait({
    'command' : 'delevent',
    'event' : mynumber,
   })
   .catch(err => {console.log(err);});
});
{% endif %}

$(document).ready(function () {
  let ws_scheme = window.location.protocol == "https:" ? "wss:" : "ws:";
	let framelines;
	WSAsync(ws_scheme + '//' + window.location.host	+ '/ws/scdbutil/')
	.then((result) => {
		ScDBUtilSocket = result;
	})
	.catch(err => {console.log(err);});

  $('[itext]').click(function(evt) {
    let temp = $(this).attr('itext');
    ScDBUtilSocket.sendandwait({
      'command' : 'getschoolframes',
      'event' : temp,
      'dolock' : '0',
    })
    .then((result) => {
      framelines = JSON.parse(result);
      let returnline = '<tr>';
      for (let j=0; j<framelines.length; j++) {
	      returnline += '<td><a href="'
	      returnline += window.location.protocol + '//' +  window.location.host;
	      returnline += '/c_client/getbmp/0/';
	      returnline += framelines[j].fields.name.replace(/\//g,'$')+'/';
	      returnline += '" target="_blank">'
	      returnline += '<img src="'
	      returnline += window.location.protocol + '//' +  window.location.host;
	      returnline += '/c_client/getbmp/0/';
	      returnline += framelines[j].fields.name.replace(/\//g,'$')+'/';
	      returnline += '" class="squares"</a><br>';
	      returnline += '</td>'
	      if (j%8 == 7) {
		      returnline += '</tr><tr>';
	      };
      };
      returnline += '<tr>';
      $('[iline="'+temp+'"]').html(returnline);
    })
    .catch(err => {console.log(err);});
  });
});

</script>

{% endblock %}
