{% extends 'main/basis.html' %}
{% block content %}
		<div class="container-fluid float-left">
			<div class="row">
			{% spaceless %}
				{% for c_view in c_views %} 
					{% if c_view.source_type == mode %}
						<div class="col-sm-auto">
							<div id="spaceforcanvas{{ c_view.id }}"></div>
						</div>
					{% endif %}
				{% endfor %}
			{% endspaceless %}
			</div>
		</div>
<script >

let ws_scheme = window.location.protocol == "https:" ? "wss:" : "ws:";
let trigger_Socket;
let c_view_Socket;
let r_array = {};

$(document).ready(function() {
	WSAsync(ws_scheme+'//'+window.location.host+'/ws/trigger/')
	.then((result) => {
		trigger_Socket = result;
		trigger_Socket.socket.onclose = function(e) {
			console.log('Trigger-Socket closed');
		};
		trigger_Socket.socket.onmessage = function(e) {
			if (e.data[0] == 'T') {
				vnr = e.data.substring(1);
				//console.log(vnr, r_array);
				if (vnr in r_array) {
					r_array[vnr]();
				};
			};
		};
		return(WSAsync(ws_scheme+'//'+window.location.host+'/ws/c_view/'));
	})
	.then((result) => {
		c_view_Socket = result;
		{% spaceless %}
		{% for c_view in c_views %} 
			{% if c_view.source_type == mode %}
				$.get('/c_client/c_canvas/{{ c_view.id }}/{{ c_view.source_type }}/{{ c_view.source_id }}/', ((data ) => {
					$('#spaceforcanvas{{ c_view.id }}').html(data);
				}));
			{% endif %}
		{% endfor %}
		{% endspaceless %}
	})
	.catch(err => {console.log(err);});

});
	
</script>
{% endblock %}

